#container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

#canvas{
  width: 98vw;
  height: 98vh;
  border: 5px solid black;
  overflow: auto;
}
