<header id="mainHeader">
      <div class="link"><a href="/#/Challenge1">Challenge 1</a></div>
      <div class="link"><a href="/#/"><span id="home">{o,o}</span></a></div>
      <div class="link"><a href="/#/challenge3">Challenge 3</a></div>
      <!-- <div class="link"><a href="/#/challenge4">Challenge 4</a></div> -->
      <!-- <div class="link"><a href="/#/challenge5">Challenge 5</a></div> -->
      <div class="link"><a href="/#/challenge6">Challenge 4</a></div>
      <div class="link"><a href="/#/challenge7">Challenge 5</a></div>
</header>
<div id="challenge2Container">
  <div id="challenge2Title">Select 5 cards to calculate hand:</div>
  <div id="inputContainer">
    <select name="card1" id="card1" ng-model="inputValue1" ng-change="change()">
      <option value="Ace-Spades">A &#9824;</option>
      <option value="King-Spades">K &#9824;</option>
      <option value="Queen-Spades">Q &#9824;</option>
      <option value="Jack-Spades">J &#9824;</option>
      <option value="10-Spades">10 &#9824;</option>
      <option value="9-Spades">9 &#9824;</option>
      <option value="8-Spades">8 &#9824;</option>
      <option value="7-Spades">7 &#9824;</option>
      <option value="6-Spades">6 &#9824;</option>
      <option value="5-Spades">5 &#9824;</option>
      <option value="4-Spades">4 &#9824;</option>
      <option value="3-Spades">3 &#9824;</option>
      <option value="2-Spades">2 &#9824;</option>
      <option value="Ace-Hearts">A &#9825;</option>
      <option value="King-Hearts">K &#9825;</option>
      <option value="Queen-Hearts">Q &#9825;</option>
      <option value="Jack-Hearts">J &#9825;</option>
      <option value="10-Hearts">10 &#9825;</option>
      <option value="9-Hearts">9 &#9825;</option>
      <option value="8-Hearts">8 &#9825;</option>
      <option value="7-Hearts">7 &#9825;</option>
      <option value="6-Hearts">6 &#9825;</option>
      <option value="5-Hearts">5 &#9825;</option>
      <option value="4-Hearts">4 &#9825;</option>
      <option value="3-Hearts">3 &#9825;</option>
      <option value="2-Hearts">2 &#9825;</option>
      <option value="Ace-Clubs">A &#9827;</option>
      <option value="King-Clubs">K &#9827;</option>
      <option value="Queen-Clubs">Q &#9827;</option>
      <option value="Jack-Clubs">J &#9827;</option>
      <option value="10-Clubs">10 &#9827;</option>
      <option value="9-Clubs">9 &#9827;</option>
      <option value="8-Clubs">8 &#9827;</option>
      <option value="7-Clubs">7 &#9827;</option>
      <option value="6-Clubs">6 &#9827;</option>
      <option value="5-Clubs">5 &#9827;</option>
      <option value="4-Clubs">4 &#9827;</option>
      <option value="3-Clubs">3 &#9827;</option>
      <option value="2-Clubs">2 &#9827;</option>
      <option value="Ace-Diamonds">A &#9826;</option>
      <option value="King-Diamonds">K &#9826;</option>
      <option value="Queen-Diamonds">Q &#9826;</option>
      <option value="Jack-Diamonds">J &#9826;</option>
      <option value="10-Diamonds">10 &#9826;</option>
      <option value="9-Diamonds">9 &#9826;</option>
      <option value="8-Diamonds">8 &#9826;</option>
      <option value="7-Diamonds">7 &#9826;</option>
      <option value="6-Diamonds">6 &#9826;</option>
      <option value="5-Diamonds">5 &#9826;</option>
      <option value="4-Diamonds">4 &#9826;</option>
      <option value="3-Diamonds">3 &#9826;</option>
      <option value="2-Diamonds">2 &#9826;</option>
    </select>
    <select name="card2" id="card2" ng-model="inputValue2" ng-change="change()">
      <option value="Ace-Spades">A &#9824;</option>
      <option value="King-Spades">K &#9824;</option>
      <option value="Queen-Spades">Q &#9824;</option>
      <option value="Jack-Spades">J &#9824;</option>
      <option value="10-Spades">10 &#9824;</option>
      <option value="9-Spades">9 &#9824;</option>
      <option value="8-Spades">8 &#9824;</option>
      <option value="7-Spades">7 &#9824;</option>
      <option value="6-Spades">6 &#9824;</option>
      <option value="5-Spades">5 &#9824;</option>
      <option value="4-Spades">4 &#9824;</option>
      <option value="3-Spades">3 &#9824;</option>
      <option value="2-Spades">2 &#9824;</option>
      <option value="Ace-Hearts">A &#9825;</option>
      <option value="King-Hearts">K &#9825;</option>
      <option value="Queen-Hearts">Q &#9825;</option>
      <option value="Jack-Hearts">J &#9825;</option>
      <option value="10-Hearts">10 &#9825;</option>
      <option value="9-Hearts">9 &#9825;</option>
      <option value="8-Hearts">8 &#9825;</option>
      <option value="7-Hearts">7 &#9825;</option>
      <option value="6-Hearts">6 &#9825;</option>
      <option value="5-Hearts">5 &#9825;</option>
      <option value="4-Hearts">4 &#9825;</option>
      <option value="3-Hearts">3 &#9825;</option>
      <option value="2-Hearts">2 &#9825;</option>
      <option value="Ace-Clubs">A &#9827;</option>
      <option value="King-Clubs">K &#9827;</option>
      <option value="Queen-Clubs">Q &#9827;</option>
      <option value="Jack-Clubs">J &#9827;</option>
      <option value="10-Clubs">10 &#9827;</option>
      <option value="9-Clubs">9 &#9827;</option>
      <option value="8-Clubs">8 &#9827;</option>
      <option value="7-Clubs">7 &#9827;</option>
      <option value="6-Clubs">6 &#9827;</option>
      <option value="5-Clubs">5 &#9827;</option>
      <option value="4-Clubs">4 &#9827;</option>
      <option value="3-Clubs">3 &#9827;</option>
      <option value="2-Clubs">2 &#9827;</option>
      <option value="Ace-Diamonds">A &#9826;</option>
      <option value="King-Diamonds">K &#9826;</option>
      <option value="Queen-Diamonds">Q &#9826;</option>
      <option value="Jack-Diamonds">J &#9826;</option>
      <option value="10-Diamonds">10 &#9826;</option>
      <option value="9-Diamonds">9 &#9826;</option>
      <option value="8-Diamonds">8 &#9826;</option>
      <option value="7-Diamonds">7 &#9826;</option>
      <option value="6-Diamonds">6 &#9826;</option>
      <option value="5-Diamonds">5 &#9826;</option>
      <option value="4-Diamonds">4 &#9826;</option>
      <option value="3-Diamonds">3 &#9826;</option>
      <option value="2-Diamonds">2 &#9826;</option>
    </select>
    <select name="card3" id="card3" ng-model="inputValue3" ng-change="change()">
      <option value="Ace-Spades">A &#9824;</option>
      <option value="King-Spades">K &#9824;</option>
      <option value="Queen-Spades">Q &#9824;</option>
      <option value="Jack-Spades">J &#9824;</option>
      <option value="10-Spades">10 &#9824;</option>
      <option value="9-Spades">9 &#9824;</option>
      <option value="8-Spades">8 &#9824;</option>
      <option value="7-Spades">7 &#9824;</option>
      <option value="6-Spades">6 &#9824;</option>
      <option value="5-Spades">5 &#9824;</option>
      <option value="4-Spades">4 &#9824;</option>
      <option value="3-Spades">3 &#9824;</option>
      <option value="2-Spades">2 &#9824;</option>
      <option value="Ace-Hearts">A &#9825;</option>
      <option value="King-Hearts">K &#9825;</option>
      <option value="Queen-Hearts">Q &#9825;</option>
      <option value="Jack-Hearts">J &#9825;</option>
      <option value="10-Hearts">10 &#9825;</option>
      <option value="9-Hearts">9 &#9825;</option>
      <option value="8-Hearts">8 &#9825;</option>
      <option value="7-Hearts">7 &#9825;</option>
      <option value="6-Hearts">6 &#9825;</option>
      <option value="5-Hearts">5 &#9825;</option>
      <option value="4-Hearts">4 &#9825;</option>
      <option value="3-Hearts">3 &#9825;</option>
      <option value="2-Hearts">2 &#9825;</option>
      <option value="Ace-Clubs">A &#9827;</option>
      <option value="King-Clubs">K &#9827;</option>
      <option value="Queen-Clubs">Q &#9827;</option>
      <option value="Jack-Clubs">J &#9827;</option>
      <option value="10-Clubs">10 &#9827;</option>
      <option value="9-Clubs">9 &#9827;</option>
      <option value="8-Clubs">8 &#9827;</option>
      <option value="7-Clubs">7 &#9827;</option>
      <option value="6-Clubs">6 &#9827;</option>
      <option value="5-Clubs">5 &#9827;</option>
      <option value="4-Clubs">4 &#9827;</option>
      <option value="3-Clubs">3 &#9827;</option>
      <option value="2-Clubs">2 &#9827;</option>
      <option value="Ace-Diamonds">A &#9826;</option>
      <option value="King-Diamonds">K &#9826;</option>
      <option value="Queen-Diamonds">Q &#9826;</option>
      <option value="Jack-Diamonds">J &#9826;</option>
      <option value="10-Diamonds">10 &#9826;</option>
      <option value="9-Diamonds">9 &#9826;</option>
      <option value="8-Diamonds">8 &#9826;</option>
      <option value="7-Diamonds">7 &#9826;</option>
      <option value="6-Diamonds">6 &#9826;</option>
      <option value="5-Diamonds">5 &#9826;</option>
      <option value="4-Diamonds">4 &#9826;</option>
      <option value="3-Diamonds">3 &#9826;</option>
      <option value="2-Diamonds">2 &#9826;</option>
    </select>
    <select name="card4" id="card4" ng-model="inputValue4" ng-change="change()">
      <option value="Ace-Spades">A &#9824;</option>
      <option value="King-Spades">K &#9824;</option>
      <option value="Queen-Spades">Q &#9824;</option>
      <option value="Jack-Spades">J &#9824;</option>
      <option value="10-Spades">10 &#9824;</option>
      <option value="9-Spades">9 &#9824;</option>
      <option value="8-Spades">8 &#9824;</option>
      <option value="7-Spades">7 &#9824;</option>
      <option value="6-Spades">6 &#9824;</option>
      <option value="5-Spades">5 &#9824;</option>
      <option value="4-Spades">4 &#9824;</option>
      <option value="3-Spades">3 &#9824;</option>
      <option value="2-Spades">2 &#9824;</option>
      <option value="Ace-Hearts">A &#9825;</option>
      <option value="King-Hearts">K &#9825;</option>
      <option value="Queen-Hearts">Q &#9825;</option>
      <option value="Jack-Hearts">J &#9825;</option>
      <option value="10-Hearts">10 &#9825;</option>
      <option value="9-Hearts">9 &#9825;</option>
      <option value="8-Hearts">8 &#9825;</option>
      <option value="7-Hearts">7 &#9825;</option>
      <option value="6-Hearts">6 &#9825;</option>
      <option value="5-Hearts">5 &#9825;</option>
      <option value="4-Hearts">4 &#9825;</option>
      <option value="3-Hearts">3 &#9825;</option>
      <option value="2-Hearts">2 &#9825;</option>
      <option value="Ace-Clubs">A &#9827;</option>
      <option value="King-Clubs">K &#9827;</option>
      <option value="Queen-Clubs">Q &#9827;</option>
      <option value="Jack-Clubs">J &#9827;</option>
      <option value="10-Clubs">10 &#9827;</option>
      <option value="9-Clubs">9 &#9827;</option>
      <option value="8-Clubs">8 &#9827;</option>
      <option value="7-Clubs">7 &#9827;</option>
      <option value="6-Clubs">6 &#9827;</option>
      <option value="5-Clubs">5 &#9827;</option>
      <option value="4-Clubs">4 &#9827;</option>
      <option value="3-Clubs">3 &#9827;</option>
      <option value="2-Clubs">2 &#9827;</option>
      <option value="Ace-Diamonds">A &#9826;</option>
      <option value="King-Diamonds">K &#9826;</option>
      <option value="Queen-Diamonds">Q &#9826;</option>
      <option value="Jack-Diamonds">J &#9826;</option>
      <option value="10-Diamonds">10 &#9826;</option>
      <option value="9-Diamonds">9 &#9826;</option>
      <option value="8-Diamonds">8 &#9826;</option>
      <option value="7-Diamonds">7 &#9826;</option>
      <option value="6-Diamonds">6 &#9826;</option>
      <option value="5-Diamonds">5 &#9826;</option>
      <option value="4-Diamonds">4 &#9826;</option>
      <option value="3-Diamonds">3 &#9826;</option>
      <option value="2-Diamonds">2 &#9826;</option>
    </select>
    <select name="card5" id="card5" ng-model="inputValue5" ng-change="change()">
      <option value="Ace-Spades">A &#9824;</option>
      <option value="King-Spades">K &#9824;</option>
      <option value="Queen-Spades">Q &#9824;</option>
      <option value="Jack-Spades">J &#9824;</option>
      <option value="10-Spades">10 &#9824;</option>
      <option value="9-Spades">9 &#9824;</option>
      <option value="8-Spades">8 &#9824;</option>
      <option value="7-Spades">7 &#9824;</option>
      <option value="6-Spades">6 &#9824;</option>
      <option value="5-Spades">5 &#9824;</option>
      <option value="4-Spades">4 &#9824;</option>
      <option value="3-Spades">3 &#9824;</option>
      <option value="2-Spades">2 &#9824;</option>
      <option value="Ace-Hearts">A &#9825;</option>
      <option value="King-Hearts">K &#9825;</option>
      <option value="Queen-Hearts">Q &#9825;</option>
      <option value="Jack-Hearts">J &#9825;</option>
      <option value="10-Hearts">10 &#9825;</option>
      <option value="9-Hearts">9 &#9825;</option>
      <option value="8-Hearts">8 &#9825;</option>
      <option value="7-Hearts">7 &#9825;</option>
      <option value="6-Hearts">6 &#9825;</option>
      <option value="5-Hearts">5 &#9825;</option>
      <option value="4-Hearts">4 &#9825;</option>
      <option value="3-Hearts">3 &#9825;</option>
      <option value="2-Hearts">2 &#9825;</option>
      <option value="Ace-Clubs">A &#9827;</option>
      <option value="King-Clubs">K &#9827;</option>
      <option value="Queen-Clubs">Q &#9827;</option>
      <option value="Jack-Clubs">J &#9827;</option>
      <option value="10-Clubs">10 &#9827;</option>
      <option value="9-Clubs">9 &#9827;</option>
      <option value="8-Clubs">8 &#9827;</option>
      <option value="7-Clubs">7 &#9827;</option>
      <option value="6-Clubs">6 &#9827;</option>
      <option value="5-Clubs">5 &#9827;</option>
      <option value="4-Clubs">4 &#9827;</option>
      <option value="3-Clubs">3 &#9827;</option>
      <option value="2-Clubs">2 &#9827;</option>
      <option value="Ace-Diamonds">A &#9826;</option>
      <option value="King-Diamonds">K &#9826;</option>
      <option value="Queen-Diamonds">Q &#9826;</option>
      <option value="Jack-Diamonds">J &#9826;</option>
      <option value="10-Diamonds">10 &#9826;</option>
      <option value="9-Diamonds">9 &#9826;</option>
      <option value="8-Diamonds">8 &#9826;</option>
      <option value="7-Diamonds">7 &#9826;</option>
      <option value="6-Diamonds">6 &#9826;</option>
      <option value="5-Diamonds">5 &#9826;</option>
      <option value="4-Diamonds">4 &#9826;</option>
      <option value="3-Diamonds">3 &#9826;</option>
      <option value="2-Diamonds">2 &#9826;</option>
    </select>
  </div>
  <div id="challenge2English">{{change(inputValueArray)}}</div>
</div>
