<header id="mainHeader">
      <div class="link"><a href="/#/"><span id="home">{o,o}</span></a></div>
      <div class="link"><a href="/#/challenge2">Challenge 2</a></div>
      <div class="link"><a href="/#/challenge3">Challenge 3</a></div>
      <!-- <div class="link"><a href="/#/challenge4">Challenge 4</a></div> -->
      <!-- <div class="link"><a href="/#/challenge5">Challenge 5</a></div> -->
      <div class="link"><a href="/#/challenge6">Roman</a></div>
      <div class="link"><a href="/#/challenge7">Fibonacci</a></div>
</header>
<div id="challenge6Container">
  <div id="challenge6Title">Enter any Roman Numeral from</div>
  <div id="challenge6Title2">I to MMMMCMXCIX</div>
  <div id="challenge6Tag">(1 - 4,999)</div>
  <input type="text" name="input" ng-model="inputValueRoman" ng-change="change(inputValueRoman)" placeholder="Roman Numeral">
  <div id="challenge6English">{{change(inputValueRoman)}}</div>
</div>
