*{
  text-decoration: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/**********************************************          404 Page Begin          **********************************************/

#errorLink{
  text-decoration: none;
  color: inherit;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-image: url("/images/404.jpg");
  background-size: cover;
  background-repeat:   no-repeat;
  background-position: 85% bottom;
  background-color: #E1EBEC;
}

#error{
  font-family: 'Josefin Sans', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*background-color: green;*/
  height: 21vw;
  margin-top: 15vh;
}

#errorStatus{
  color: #F91924;
  font-size: 15vw;
  /*background-color: blue;*/
}

#errorMessage{
  font-size: 3vw;
  /*background-color: red;*/
}

/**********************************************          404 Page End          **********************************************/

/**********************************************          Header Begin          **********************************************/

#mainHeader{
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 10vh;
  /*background-color: black;
  opacity: .85;*/
  background-color: #333333;
  border-bottom: 1px solid white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.link{
  /*background-color: red;
  border: 1px solid yellow;*/
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#mainHeader .link a{
  color: lightgrey;
  /*background-color: blue;*/
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Amatic SC', cursive;
  font-size: 3vw;
  transition: all .75s;
}

#mainHeader .link a:hover{
  color: white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  font-size: 4vw;
  background-color: black;
  opacity: 1;
  font-weight: 900;
  transition: all .25s;
}

#mainHeader .link a:hover #bonus{
  display: none;
}

#bonus{
  margin-top: -.8vw;
  font-size: 2vw;
}

#home{
  font-family: 'Permanent Marker', cursive;
  font-weight: 100;
  /*color: darkgreen;*/
}

/**********************************************          Header Begin          **********************************************/

/**********************************************          Splash Page Begin          **********************************************/


#hero{
  position: fixed;
  left: 0;
  top: 10vh;
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: url("/images/pexels-photo.jpg") no-repeat center center;
  /*-webkit-background-size: cover;
  -moz-background-size: cover;*/
  background-size: cover;
  text-align: center;
  background-color: white;
  cursor: default;
}

#heroMessage{
  margin-top: 15vh;
  text-shadow: 0 0 50px black;
  color: white;
  font-size: 15vw;
  font-family: 'Amatic SC', cursive;
  letter-spacing: 2vw;
}

#heroTag{
  color: black;
  text-shadow: 0 0 5px white;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: .33vw;
  animation-duration: 5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: inOut;
}

@keyframes inOut {
  0% {
    opacity: 0;
  }

  25% {
    opacity: .25;
  }

  50% {
    opacity: .5;
  }

  75% {
    opacity: .25);
  }

  100% {
    opacity: 0;
  }
}

/**********************************************          Splash Page End          **********************************************/

/**********************************************          Challenge1 Begin          **********************************************/

#challenge1Container{
  position: fixed;
  left: 0;
  top: 10vh;
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  background: url("/images/giphy-2.gif") no-repeat center center;
  background-size: cover;
  background-color: #09171E;
  /*-webkit-background-size: cover;
  -moz-background-size: cover;*/
}

#challenge1Title{
  font-size: 8vw;
  margin-bottom: 1vh;
  color: white;
  text-shadow: 0 0 100px black;
}

#challenge1Title2{
  font-size: 5vw;
  margin-bottom: 5vh;
  color: white;
  text-shadow: 0 0 50px black;
}

#challenge1Container input{
  text-align: center;
  font-size: 3vw;
  margin-bottom: 1vh;
}

#value {
  margin-top: 6vh;
  color: white;
  margin-bottom: 2vh;
}

#challenge1English{
  margin-top: 2vh;
  color: darkgreen;
  font-size: 2vw;
  text-shadow: 0 0 5px black;
}



/**********************************************          Challenge1 End          **********************************************/

/**********************************************          Challenge2 Begin          **********************************************/

#challenge2Container{
  position: fixed;
  left: 0;
  top: 10vh;
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  background: url("/images/Superimposition.jpg") no-repeat center center;
  background-size: cover;
  background-color: #09171E;
  /*-webkit-background-size: cover;
  -moz-background-size: cover;*/
}

#challenge2Title{
  font-size: 6vw;
  margin-top: 4vh;
  margin-bottom: 2vh;
  color: white;
  text-shadow: 0 0 5px black;
}

#challenge2English{
  margin-top: 3vh;
  color: darkgreen;
  font-size: 1.5vw;
  font-weight: 900;
  text-shadow: 0 0 50px black;
  /*background-color: gainsboro;*/
}


/**********************************************          Challenge2 End          **********************************************/

/**********************************************          Challenge3 Begin          **********************************************/

#challenge3Container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 10vh;
  width: 100vw;
  height: 90vh;
  background: url("/images/About-Around-Textures-Backgrounds-Spiral-District--5694.jpg") no-repeat center center;
  background-size: cover;
  background-color: #09171E;
  /*-webkit-background-size: cover;
  -moz-background-size: cover;*/
}

#challenge3Input{
  position: fixed;
  top: 12vh;
  left: 42.25vw;
  font-size: 1vw;
  width: 15.5vw;
  text-align: center;
  z-index: 10;
}

#canvas{
  width: 97.5vw;
  height: 88vh;
  border: 5px solid black;
  /*overflow: auto;*/
}

/**********************************************          Challenge3 End          **********************************************/

/**********************************************          Challenge4 Begin          **********************************************/



/**********************************************          Challenge4 End          **********************************************/

/**********************************************          Challenge5 Begin          **********************************************/



/**********************************************          Challenge5 End          **********************************************/

/**********************************************          Challenge6 Begin          **********************************************/

#challenge6Container{
  position: fixed;
  left: 0;
  top: 10vh;
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  background: url("/images/image.jpg") no-repeat center center;
  background-size: contain;
  background-color: #1B1716;
  font-weight: 900;
  /*-webkit-background-size: cover;
  -moz-background-size: cover;*/
}

#challenge6Title{
  font-size: 5vw;
  margin-bottom: 1vh;
  color: white;
  text-shadow: 0 0 5px black;
}

#challenge6Title2{
  font-size: 2vw;
  margin-bottom: 1vh;
  color: white;
  -moz-user-select: auto;
  -webkit-user-select: auto;
  -ms-user-select: auto;
  text-shadow: 0 0 5px black;
}

#challenge6Tag{
  font-size: 2vw;
  margin-bottom: 2vh;
  color: white;
  text-shadow: 0 0 5px black;
}

#challenge6Container input{
  text-align: center;
  font-size: 2vw;
  margin-bottom: 1vh;
}

#challenge6English{
  margin-top: 2vh;
  color: gainsboro;
  text-shadow: 0 0 5px black;
  font-size: 5vw;
}


/**********************************************          Challenge6 End          **********************************************/

/**********************************************          Challenge7 Begin          **********************************************/

#challenge7Container{
  position: fixed;
  left: 0;
  top: 10vh;
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  background: url("/images/goldenSpiral.jpg") no-repeat center center;
  background-size: cover;
  background-color: black;
  font-weight: 900;
  color: white;
  /*-webkit-background-size: cover;
  -moz-background-size: cover;*/
}

#challenge7Container iframe{
  margin-top: 2vh;
  margin-bottom: 1vh;
}

#challenge7Title{
  font-size: 6vw;
  margin-bottom: 1vh;
  margin-top: 2vh;
  text-shadow: 0 0 5px black;
}

#challenge7Tag{
  font-size: 3vw;
  text-shadow: 0 0 5px black;
}

#challenge7Container input{
  text-align: center;
  font-size: 2vw;
  margin-bottom: 1vh;
}

#challenge7English{
  margin-top: 2vh;
  color: gainsboro;
  text-shadow: 0 0 5px black;
  font-size: 4vw;
}

/**********************************************          Challenge7 End          **********************************************/
